.input {
  border: none;
  outline: none;
  caret-color: var(--color-text);
  color: var(--color-text);
  font-size: 20px 14px 9px;
  background-color: transparent;

  &:focus + .formLabel,
  &:not([value=""]) + .formLabel {
    transform: translate(-10%, -90%);
    font-size: 10px;
  }
}

.container {
  position: relative;
  background-color: var(--background-color-field);
  border-radius: 5px;
  transition: all .3s linear;
  padding: 15px;
  display: flex;
  flex-direction: column;
  cursor: text;

  &.error {
    background-color: rgba(219, 57, 57, .3);
    &:hover {
      background-color: rgba(233, 86, 86, 0.3);
    }
  }

  &:hover {
    background-color: #ededed;
    background-color: var(--color-field-focused);
  }

  &[aria-disabled='true'] {
    background-color: var(--color-field-focused);
    cursor: default;
    .formLabel {
      cursor: default;
    }
  }
}

.formLabel {
  position: absolute;
  left: 16px;
  top: 16px;
  color: var(--color-placeholder);
  font-size: 14px;
  text-transform: capitalize;
  z-index: 1;
  transition: all .3s linear;
  cursor: text;
}

.formLabel.focused {
  transform: translate(-10%, -90%);
  font-size: 10px;
}

.passwordToggler {
  position: absolute;
  top: 17px;
  right: 12px;
  cursor: pointer;
}

.helperText {
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-text-validation);
  padding-left: 10px;
}