.button {
  width: 247px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-accent);
  border-radius: 5px;
  padding: 15.5px 102.5px;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  box-shadow: var(--shadow-button);
  transition: all .3s linear;
  cursor: pointer;

  &:hover {
    background-color: var(--color-accent);
    box-shadow: var(--shadow-button-hover);
  }

  &:active {
    background-color: rgba(245, 198, 120, 0.7);
  }

  &:disabled {
    background-color: var(--color-accent7);
  }
}

.dotFlashing {
  position: relative;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #9880ff;
  animation: dotFlashing .5s infinite linear alternate;
  animation-delay: 0.25s;
}
.dotFlashing::before, .dotFlashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dotFlashing::before {
  left: -11px;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  color: #9880ff;
  animation: dotFlashing .5s infinite alternate;
  animation-delay: 0s;
}
.dotFlashing::after {
  left: 11px;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: #fff;
  color: #9880ff;
  animation: dotFlashing .5s infinite alternate;
  animation-delay: .5s;
}

@keyframes dotFlashing {
  0% {
    background-color: rgba(255, 255, 255, 0.5);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.7);
  } 100% {
    background-color: #fff;
  }
}