.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);

  .container {
    background-color: var(--background-color);
    box-shadow: var(--shadow-container);
    border-radius: 20px;
    overflow: hidden  ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .headerContainer {
    width: 100%;
    padding: 96px 0 16px;
    text-align: center;
    color: #fff;
    // background: url(../../static/images/dogge_background.svg);
    background: var(--images-auth-header);
    background-size: cover;
    font-size: 40px;
    font-family: 'Baloo 2';
    font-weight: 800;
  }

  .checkboxContainer {
    margin: 15px 0;
  }

  .formContainer {
    padding: 83px 100px;
  }

  .inputContainer {
    margin-bottom: 10px;
  }

  .signUpContainer {
    margin-bottom: 15px;
    a {
      text-decoration: none;
      color: var(--color-accent7);
      font-size: 14px;
      font-weight: 600;
      cursor: pointer;
    }
  }
}